body {
    background-color: #DCFFFD;
}

#title-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #037171;
    height: 6rem;
}

#title {
    color: whitesmoke;
}

#options {
    background-color: #003F91;
    height: 100%; 
    width: 100%; 
}

a.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
    font-size: 2rem;
    cursor: pointer;
    color: whitesmoke;
    text-decoration: none;
}

#nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

a.nav:hover {
    background-color: #2061b5;
}

#btn-save-changes {
   margin-left: 70%;
}

#permission-table {
    table-layout: fixed;
    width: 80%;
    margin: 1rem auto;
}

td, th {
    display: table-cell;
    width: 112px;
    text-align: center;
    vertical-align: middle;
}

input[type="checkbox"] {
    cursor: pointer;
}

[class|="desc"] {
    width: auto;
    text-align: left;
    white-space: nowrap;
}

.disable {
    pointer-events: none;
    opacity: .7;
}

.enable {
    pointer-events: auto;
    opacity: 1;
}
